<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/nav-Autenticado.css">
</head>

<body>
    <div class="form-inline d-flex" style="background-color: #72FFCC;">
        <a href="/perfil/<%=usuario.email %>" class="ml-5 rounded-pill imagenNav pr-2">
            <div class="form-inline">
                <div style="height: 35px; width: 35px;">
                    <% if(usuario.imagen) { %>
                    <img class="rounded-circle" src="/uploads/usuarios/<%=usuario.imagen %>" alt="Foto de usuario" />
                    <% }else { %>
                    <img class="rounded-circle"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        alt="Foto Usuario" />
                    <% } %>
                </div>
                <span class="ml-2 font-weight-bold spanNombreNav"><%=usuario.nombre %></span>
            </div>
        </a>

        <div class="inputNavAut">
            <i class="fas fa-search"></i>
            <input type="text" class="rounded-pill ml-4" placeholder="Buscar">
        </div>

        <a class="mx-auto" href="/principal">
            <img src="/img/logo.png" alt="Logo Affectus" width="100" width="100">
        </a>
        <div id="divisorNavExtra" class="mx-auto"></div>

        <div class="btn-group">
            <a type="button" class="rounded-circle btnMasNavAut" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <span class="dropdown-header">Opciones disponibles</span>
                <a class="dropdown-item" style="color: rgb(206, 65, 65);" href="/principal">Principal</a>
                <a class="dropdown-item" style="color: rgb(206, 65, 65);" href="/administracion">Administración</a>
                <a class="dropdown-item" style="color: rgb(206, 65, 65);" href="/nueva-estrategia">Nuevo Recurso</a>
                <a class="dropdown-item" style="color: rgb(206, 65, 65);" href="/index">Chat Grupal</a>
                <div class="dropdown-divider"></div>
                <span class="dropdown-header">Idioma</span>
                AQUI VAN LAS BANDERAS
                <div class="dropdown-divider"></div>
                <a class="text-primary dropdown-item" href="/cerrar-sesion">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</body>

</html>