<ul class="navbar-nav font-weight-bold d-flex ml-auto">
    <li class="nav-item mr-3">
        <a class="nav-link textoNav" style="color: rgb(206, 65, 65);" href="/principal">Principal</a>        
    </li>
    <li class="nav-item mr-3">
        <a class="nav-link textoNav" style="color: rgb(206, 65, 65);" href="/administracion">Administración</a>
    </li>
    <li class="nav-item mr-3">
        <a class="nav-link textoNav" style="color: rgb(206, 65, 65);" href="/nueva-estrategia">Nuevo Recurso</a>
    </li>
    <li class="nav-item mr-5">
        <a class="nav-link textoNav" style="color: rgb(206, 65, 65);" href="/index">Chat Grupal</a>
    </li>
    <span style="border-right: 2px solid rgb(221, 220, 220);"></span>
    <li class="nav-item mx-5">
        <a class="nav-link textoNav text-primary" href="/cerrar-sesion">Cerrar Sesión</a>
    </li>
</ul>
