<a href="/principal">Principal</a>
<a href="/administracion">Administración</a>
<a href="/nueva-estrategia">Nueva Estrategia</a>
<a href="/index">Chat Grupal</a>
<a href="/cerrar-sesion">Cerrar Sesión</a>
