<a class="navegadores" href="#buscadorAyudaPais">Encuentra Estrategias</a>
<a class="navegadores" href="#estrategiasSalud">Estrategias</a>
<a class="navegadores" href="#visualizadoCategorias">Categorias</a>
<a class="navegadores" href="#nosotrosMain">Nosotros</a>
<a class="navegadores" href="#institucionesMain">Instituciones</a>
<a class="navegadores ultimo-nav" href="#footerPrincipal">Contacto</a>
<a href="/iniciar-sesion">Iniciar Sesion</a>
<a href="/crear-cuenta">Registrarse</a>