<ul class="navbar-nav font-weight-bold d-flex ml-auto">
    <li class="nav-item mr-3">
        <a class="nav-link textoNav" href="#buscadorAyudaPais">Encuentra Recursos</a>
    </li>
    <li class="nav-item mr-3">
        <a class="nav-link textoNav" href="#estrategiasSalud">Recursos</a>
    </li>
    <li class="nav-item mr-3">
        <a class="nav-link textoNav" href="#visualizadoCategorias">Categorias</a>
    </li>
    <li class="nav-item mr-3">
        <a class="nav-link textoNav" href="#institucionesMain">Instituciones</a>
    </li>
    <li class="nav-item mr-5">
        <a class="nav-link textoNav" href="#footerPrincipal">Contacto</a>
    </li>
    <span style="border-right: 2px solid rgb(221, 220, 220);"></span>
    <li class="nav-item ml-5">
        <a class="nav-link textoNav text-primary" href="/iniciar-sesion">Iniciar Sesion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link textoNav text-primary" href="/crear-cuenta">Registrarse</a>
    </li>
</ul>