 <!DOCTYPE html>
 <html lang="en">

 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>

 <body>
     <a class="ir-arriba" javascript:void(0) title="Volver arriba">
         <span class="fa-stack">
             <i class="fa fa-circle fa-stack-2x"></i>
             <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
         </span>
     </a>
     <div style="height: 0px; width: 0px;">
         <%- include('partials/barra-lateral.ejs', {nombre:usuario.nombre,estrategias: estrategias, citas}) %>
     </div>
     <div class="container">
         <h1 class="mt-3">Estadísticas</h1>
         <hr>         
         <input id="rolUsuarioInput" type="text" value="<%=userPerfil.rol%>" style="display: none;">
         <input id="idUsuarioInput" type="text" value="<%=userPerfil.id%>" style="display: none;">
         <% if (userPerfil.rol == 1) { %>
         <!--Gráficas de usuario-->
         <div class="row">
             <div class="col-md-6">
                <div id="pieSentimientos" style="height: 500px; width: auto;"></div>
                <div id="pesoLineal" style="height: 500px; width: auto;"></div>    
                <div id="temperaturaLineal" style="height: 500px; width: auto;"></div> 
                <div id="presionLineal" style="height: 500px; width: auto;"></div>            
             </div>
             <div class="col-md-6">
                <div id="barraSentimientos" style="height: 500px; width: auto;"></div>
                <div id="azucarLineal" style="height: 500px; width: auto;"></div>
                <div id="estaturaLineal" style="height: 500px; width: auto;"></div>
             </div>
         </div>
         <% } else {  if (userPerfil.rol == 2) { %>
         <!--Gráficas de Profesional-->
         <div class="row">
             <div class="col-md-6 m-0 p-0">
                 <div id="barraCategorias" style="height: 500px; width: auto;"></div>
             </div>
             <div class="col-md-6 m-0 p-0">
                 <div id="pieSCategorias" style="height: 500px; width: auto;"></div>
             </div>
         </div>
         <% } } %>
     </div>
     <!--Google Chearts-->
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
     <script src="/js/estadisticas.js"></script>
 </body>

 </html>