<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/style.css" />
		<title>ChatCord App</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> Affectus</h1>
			</header>
			<main class="join-main">
				<form action="/chat" id="formGrupo">
					<div class="form-control">
						<input
							type="hidden"
							name="username"
							id="username"
							value="<%=usuario %>"
						/>
					</div>
					<div class="form-control">
						<label for="room">Categoria</label>
						<select name="room" id="room" 
						>
							<option value="" selected disabled>--Elige una categoria--</option>
							<% categorias.forEach(categoria => { %>
								<option value="<%=categoria.id%>"><%=categoria.nombre %></option>
							<% }) %>
						</select>						
					</div>
					<button type="submit" class="btn">Join Chat</button>
				</form>
			</main>
		</div>
		<script src="  https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.3/qs.min.js
		"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/app.js"></script>
	</body>
</html>