<div class="container">
    <form action="/nueva-estrategia" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nombre">Nombre Ejercicio</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre">
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="categoriaId">Categoria</label>
                <select id="categoriaId" class="form-control" name="categoriaId">
                <option value="" selected disabled>--Elige una categoria--</option>
                <% categorias.forEach(categoria => { %>
                    <option value="<%=categoria.id %>"><%=categoria.nombre %></option>
                <% }) %>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="Fecha Creacion">Fecha Creación</label>
                <input type="date" class="form-control" id="fecha_creacion" name="fecha_creacion">
            </div>
        </div>
        <div></div>
        
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="file">Subir Archivos de Estrategia</label>
                <input type="file" multiple class="form-control" id="archivos" name="archivos">
            </div>
        </div>
        <div class="form-group">
            <label for="pais">City</label>
            <input type="text" class="form-control" id="pais" name="pais" placeholder="País">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <textarea class="form-control" name="descripcion" placeholder="Ingrese descripcion"></textarea>
        </div>
        
        <div class="form-group">
            <input type="submit" class="btn btn-primary float-right" value="Guardar"></input>
        </div>
  </form>
</div>