<div class="container mt-5">
    <h2><%=nombrePagina %></h2>
    <legend class="text-center" style="color: red;">Los archivos que compartas deben ser menor a 10Mb</legend>
    <form action="/nueva-estrategia" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombre">Nombre del recurso</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="categoriaId">Categoría</label>
                    <select id="categoriaId" class="form-control" name="categoriaId">
                        <option value="" selected disabled>--Elige una categoría--</option>
                        <% categorias.forEach(categoria => { %>
                        <option value="<%=categoria.id %>"><%=categoria.nombre %></option>
                        <% }) %>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="Fecha Creacion">Fecha de creación</label>
                    <input type="date" class="form-control" id="fecha_creacion" name="fecha_creacion">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="file">Imagen representativa del recurso</label>
                    <input type="file" multiple class="form-control" id="archivos" name="archivos">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pais">País de origen</label>
                    <input type="text" class="form-control" id="pais" name="pais" placeholder="País">
                </div>
            </div>                
        </div>
        
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" name="descripcion" placeholder="Ingrese descripcion"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary float-right" value="Guardar"></input>
        </div>
    </form>
</div>
<div style="height: 0px; width: 0px;">
    <%- include('partials/barra-lateral.ejs', {nombre:usuario.nombre ,estrategias: estrategias, citas}) %>
</div>
<a class="ir-arriba" javascript:void(0) title="Volver arriba">
    <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
    </span>
</a>