<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <div class="fondo">
        <h1>Cambiar contraseña</h1>
        <form action="/forgot-pass" method="POST">
            <label class="text-center">Ingresa su correro para recibir el correo para restablecer la
                contraseña</label>
            <div class="divisor"></div>
            <div class="campos">
                <input type="email" id="email_address" name="email" autofocus required>
                <span></span>
                <label>Correo</label>
            </div>
            <input class="mt-4 mb-2" type="submit" value="Restablecer contraseña">
            <div class="pass">                
                <a href="/iniciar-sesion" class="">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</body>

</html>