<div class="container">
    <h1><%=nombre %>, <%=nombrePagina %></h1>
    <hr>
    <div id="sentimientosPrincipal">
        <h4 class="text-center">¿Cómo te sientes hoy?</h4>
        <div class="row mx-auto">
            <div class="col-md-1">Aún no sirve</div>
            <div class="col-md-2">
                <a href="sentimiento/feliz">
                    <div class="d-flex">
                        <img width="60" class="mx-auto" src="/img/feliz.png" alt="Feliz">
                    </div>
                    <h5 class="text-center mt-2">Feliz</h5>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <div class="d-flex">
                        <img width="60" class="mx-auto" src="/img/triste.png" alt="Triste">
                    </div>
                    <h5 class="text-center">Triste</h5>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <div class="d-flex">
                        <img width="60" class="mx-auto" src="/img/enojada.png" alt="Enojado">
                    </div>
                    <h5 class="text-center">Enojado/a</h5>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <div class="d-flex">
                        <img width="60" class="mx-auto" src="/img/preocupada.png" alt="Preocupado">
                    </div>
                    <h5 class="text-center">Preocupado/a</h5>
                </a>
            </div>
            <div class="col-md-2">
                <a href="#">
                    <div class="d-flex">
                        <img width="60" class="mx-auto" src="/img/sorprendida.png" alt="Sorprendido">
                    </div>
                    <h5 class="text-center">Sorprendido/a</h5>
                </a>
            </div>
        </div>
        <hr>
    </div>
    <div class="row">
        <% estrategias.forEach(estrategia => { %>
        <%- include('partials/card-recurso.ejs', {estrategia: estrategia}) %>
        <% }) %>
    </div>
</div>
<div class="page-wrapper chiller-theme toggled">
    <%- include('partials/barra-lateral.ejs') %>
</div>