@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: montserrat;
    height: 100vh;
    overflow: visible;
}

.textoNav {
    font-size: 1.15rem;
    color: rgb(255, 255, 255);
}

.textoNav:hover {
    font-size: 1.20rem;
    color: rgb(206, 65, 65);
    text-shadow: 2px 2px 5px white;
}

.fondo,
.fondoRegistro {
    position: relative;
    top: 30%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -40%);
    border-radius: 20px;
    -webkit-box-shadow: 20px 15px 50px 0px rgba(133, 133, 133, 1);
    -moz-box-shadow: 20px 15px 50px 0px rgba(133, 133, 133, 1);
    box-shadow: 10px 10px 50px 0px rgba(133, 133, 133, 1);
}

@media screen and (max-width: 400px) {
    .fondo {
        width: 100%;
    }

    .fondoRegistro {
        width: 100%;
        margin-top: 26%;
        margin-bottom: 5%;
    }

    .fondoRegistro form {
        padding: 0px 10px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 600px) and (min-width: 400px) {
    .fondo {
        width: 80%;
    }

    .fondoRegistro {
        width: 80%;
        margin-top: 25%;
        margin-bottom: 5%;
    }

    .fondoRegistro form {
        padding: 0px 10px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
    .fondo {
        width: 60%;
    }

    .fondoRegistro {
        width: 60%;
        margin-top: 18%;
        margin-bottom: 5%;
    }

    .fondoRegistro form {
        padding: 0px 15px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1000px) and (min-width: 800px) {
    .fondo {
        width: 50%;
    }

    .fondoRegistro {
        width: 60%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .fondoRegistro form {
        padding: 0px 20px;
        box-sizing: border-box;
    }

    .paddingContra {
        padding-right: 0%;
    }

    .paddingConfirmContra {
        padding-left: 0;
    }
}

@media screen and (max-width: 1250px) and (min-width: 1000px) {
    .fondo {
        width: 40%;
    }

    .fondoRegistro {
        width: 50%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .fondoRegistro form {
        padding: 0px 30px;
        box-sizing: border-box;
    }

    .paddingContra {
        padding-right: 0%;
    }

    .paddingConfirmContra {
        padding-left: 0;
    }
}

@media screen and (max-width: 1500px) and (min-width: 1250px) {
    .fondo {
        width: 35%;
    }

    .fondoRegistro {
        width: 50%;
        margin-top: 2%;
        margin-bottom: 5%;
    }

    .fondoRegistro form {
        padding: 0px 40px;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 1500px) {
    .fondo {
        width: 30%;
    }

    .fondoRegistro {
        width: 50%;
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .fondoRegistro form {
        padding: 0px 40px;
        box-sizing: border-box;
    }
}

.fondo h1 {
    font-family: 'Releway, sans-serif';
    font-size: 2.5rem;
    padding: 20px 0px;
    text-align: center;
    border-bottom: 1px solid #E0C3FC;
}

.fondoRegistro h1 {
    font-family: 'Releway, sans-serif';
    font-size: 2.5rem;
    padding: 10px 0px;
    text-align: center;
    border-bottom: 1px solid #E0C3FC;
}

.fondo form {
    padding: 0px 40px;
    box-sizing: border-box;
}

form .campos {
    position: relative;
    border-bottom: 2px solid #8EC5FC;
    margin: 0px 20px;
}

form label {
    font-size: 16px;
    color: #ADADAD;
}

.divisor {
    margin: 30px 0;
}

.campos input[type="password"],
.campos input[type="email"],
.campos input[type="text"],
.campos input[type="date"],
.campos select {
    width: 100%;
    padding: 0px 5px;
    margin-bottom: 0;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.campos input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
.campos input[type=date]:focus::-webkit-datetime-edit {
    color: #ADADAD !important;
}

.campos label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #ADADAD;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.campos span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0px;
    width: 0;
    height: 2px;
    background: #2691d9;
}

.campos input[type="password"]:focus~label,
.campos input[type="password"]:valid~label,
.campos input[type="email"]:focus~label,
.campos input[type="email"]:valid~label,
.campos input[type="text"]:focus~label,
.campos input[type="text"]:valid~label,
.campos input[type="date"]:focus~label,
.campos input[type="date"]:valid~label,
.campos select:focus~label,
.campos select:valid~label {
    top: -5px;
    color: #2691d9;
}

.campos input[type="password"]:focus~span::before,
.campos input[type="password"]:valid~span::before,
.campos input[type="email"]:focus~span::before,
.campos input[type="email"]:valid~span::before,
.campos input[type="text"]:focus~span::before,
.campos input[type="text"]:valid~span::before,
.campos input[type="date"]:focus~span::before,
.campos input[type="date"]:valid~span::before,
.campos select:focus~span::before,
.campos select:valid~span::before {
    width: 100%;
}

.pass {
    text-align: center;
    margin: 15px 0;
}

.pass a {
    color: #a6a6a6;
    text-decoration: none;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border: 10px solid #2691d9;
    transition: 1s;
}

.unete2 {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.unete {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.unete a {
    color: #2691d9;
    text-decoration: none;
}

.unete a:hover {
    text-decoration: underline;
}

.check {
    margin: 20px 0;
    text-align: center;
}

.check label {
    color: #666666;
}

.check label:hover {
    color: #2691d9;
}