body {
    background-color: white;
    height: 100vh;
}

.perfilEncabezado {
    height: auto;
    width: 100%;
}

.efectoPerfil {
    border: 1.5px solid silver;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 20px 9px 24px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 20px 9px 24px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 20px 9px 24px -4px rgba(0, 0, 0, 0.6);
}

.borderConectado {
    border: 4px solid #5cb85c;
}

.borderAusente {
    border: 4px solid rgb(255, 238, 0);
}

.borderNoDisponible {
    border: 4px solid rgb(255, 51, 0);
}

.textoCard {
    width: 100%;
    height: auto;
    padding: 5px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.textoCard:hover {
    width: 100%;
    white-space: initial;
    overflow:visible;
    cursor: pointer;
}

.decoracionText:active, .decoracionText:link {
    text-decoration: none;
}

.decoracionText {
    color: rgba(63, 63, 63, 0.623);
}

a.lineaCategoria {
    text-decoration: none;
}

a.lineaCategoria span {
    color: black;
}

a.lineaCategoria:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.24);
}

.espacioCategorias {
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.chatPrincipal:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.sobrecard {
    position: absolute;
    left: 0px;
    width: 250px;
    height: auto;   
}

.extremoSobreCard {
    display: none;
}

a {
    text-decoration: none;
}

.textSobre {
    font-size: 15px;
}

.fontSpanCard {
    font-size: 12.5px;
}

.datosPublicacion:hover div.extremoSobreCard {
    display: block;
}