body {
    background-color: white;
    height: 100vh;
}

.perfilEncabezado {
    height: auto;
    width: 100%;
}

.efectoPerfil{
    border: 1.5px solid silver;
    border-radius: 15px;
    background-color: white;
    -webkit-box-shadow: 20px 9px 24px -4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 20px 9px 24px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 20px 9px 24px -4px rgba(0, 0, 0, 0.6);
}

.borderConectado {
    border: 4px solid #5cb85c;
}

.borderAusente {
    border: 4px solid rgb(255, 238, 0);
}

.borderNoDisponible {
    border: 4px solid rgb(255, 51, 0);
}